#mapAnchor{
    position: absolute;
    left: 50%;
    top: 50%;
}

.centered-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

resource-tile-element img[number]{
    z-index: 1;
}