#mapBoundingBox{
    position: absolute;
    left: 22vh;
    top: 10%;
    width: 60%;
    height: 85%;    
    border: 1px solid red;
    
}

#mapAnchor{
    position: absolute;
    left: 50%;
    top: 50%;
}


#mapAnchor > *{
    box-sizing: content-box;
    height: 104px;
    width: 120px;
}

#mapAnchor > * > [hex-type]{
    position: absolute;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
}

.centered-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

[is='resource-image'], [is='number-image']{
    width: calc(34 / 120 * 100%);
    height: calc(34 / 104 * 100%);
    z-index: 1;
}

#playerDialogContainer{
    box-sizing:content-box;
    position: absolute;
    display: flex;
    flex-direction: column;          
    left: 10px;
    top: 50%;
    transform: translate(0%, -50%);
    
    maxwidth: 162px;
}

body.portrait #playerDialogContainer{
    height: 80vh;
    width: 20vw;
}

body.landscape #playerDialogContainer{
    height: 80vh;
    width: 20vh;
}

.outerPlayerDialog{
    position: relative;
    box-sizing:content-box;
    height: 25%;
    width: 100%;    
}
