* {        
    position: absolute;
    box-sizing:content-box;
}

:host([data-pid='1']) .name{
    -webkit-text-fill-color: red;
}

:host([data-pid='2']) .name{
    -webkit-text-fill-color: blue;    
}

:host([data-pid='3']) .name{
    -webkit-text-fill-color: green;
}

:host([data-pid='4']) .name{
    -webkit-text-fill-color: white;    
}

.playerDialog{
    position: absolute;
    font-family: arial;
    font-size: 35px;
    height: 100%;
    width: 100%;    
}

.background{
    height: 100%;
    width: 100%;
}    

.name{
    box-sizing:content-box;
    top: 5%;
    height: 17%;
    vertical-align: middle;
    font-weight: bold;
    /*text-align: center;*/   
    width: 100%;
    font-size: 31.84px;
    -webkit-text-stroke: 2px black;  
}

:host[data-pid='1']{
    -webkit-text-fill-color: blue;
    border: 1px solid black;
}

:host[data-pid='2']{
    -webkit-text-fill-color: red;
    border: 1px solid black;
    left: 200px;
}

.number{    
    font-size: 0.75em;
    vertical-align: middle;
    height: 13.4%;
    width: 6.5%;
}

.number.left{
    left: 29%;
}
      
.number.right{
    left: 62%;
}

.number.left.top{
    top: 35%;
}

.number.left.middle{
    top: 55%;
}

.number.left.bottom{
    top: 74%;
}

.number.right.top{
    top: 45%;
}

.number.right.bottom{
    top: 64%;
}