
#bank{
    position: relative;
    font-family: arial;
    /*transform: translateY(-120%);*/
    width: 15vh;

    .background{
        position: relative;
        width: 100%;
    }
    
    [data-cat]{
        height: 15%;
        position: absolute;
        left: 20%;
        
        &[data-cat="ore"]{
            top: 5.5%;
        }
        &[data-cat="wheat"]{
            top: 23%;
        }
        &[data-cat="wood"]{
            top: 41%;
        }
        &[data-cat="wool"]{
            top: 59%;
        }
        &[data-cat="brick"]{
            top: 77%;
        }
        
    }
}