
#bank{
    position: relative;
    font-family: arial;
    width: 15vh;
    cursor: url('/NidgetDev/assets/images/cursors/discard.ico'), pointer;

    .discard{
        position: absolute;
        left: 0px;
        top: -17.5%;
        width: 100%;
        height: 15%;
    }

    &[discard='false']{
        .discard{
            display: none;
        }
    }

    .background{
        position: relative;
        width: 100%;
    }

    .inner{
        position: absolute;
        top: 6%;
        height: 88%;
        left: 12%;
        width: 76%;

        >[data-cat]{
            height: 20%;
            width: 100%;
            position: absolute;
            left: 0%;           

            &[data-cat="ore"]{
                top: 0%;
            }
            &[data-cat="wheat"]{
                top: 20%;
            }
            &[data-cat="wood"]{
                top: 40%;
            }
            &[data-cat="wool"]{
                top: 60%;
            }
            &[data-cat="brick"]{
                top: 80%;
            }

            nidget-text{
                position: absolute;
                height: 80%;
                width: 20%; 
                top: 5%;
                left: 10%;
            }
        }
    }
}
