
.bank{
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: arial;
    font-size: 30px;
    right: 5px;
    bottom: 5px;
    transform: translateY(-120%);

    .background{
        position: relative;
        height: 100%;       
        width: 100%;
    }
    
    .text-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 10px;
        top: 10px;
        width: 78px;
        height: 174px;
        font-weight: bolder;
        
        .resource{
            position: relative;    
            height: 20%;
            
            .text{
               position: absolute;    
               left: 12px;
               top: 1px;
            }
        }
    }
}