/*@import './bank';*/
/*@import './store';*/
/*@import './playerDialog';*/
/*@import './map';*/
@import '../../node_modules/@thaerious/nidget/styles/nidget.scss';

#playerDialogContainer{
    box-sizing:content-box;
    position: relative;
    border: 3px solid red;
    background-color: rgba(255, 0, 0, 0.4);
}

.outerPlayerDialog{
    border: 1px solid blue;
    background-color: rgba(255, 0, 0, 0.4);
}

#infoContainer{
    box-sizing:content-box;
    position: relative;    
    border: 3px solid blue;
    background-color: rgba(0, 0, 1, 0.5);
}

#mapBoundingBox{
    box-sizing:content-box;
    position: relative;
    border: 3px solid green;
    background-color: rgba(0, 255, 0, 0.5);
}

body.portrait{
    *{
        display: inline-block;
    }
    
    #mapBoundingBox{
        width: 95%;
        height: 70vh;
        left: 2.5%;
    }
    #playerDialogContainer{
        height: 20vh;
        width: 95%;
        left: 2.5%;        
    }
}

body.landscape{
    *{
        display: inline-block;
    }
        
    #mapBoundingBox{
        width: 75vw;
        height: 90vh;
        top: 5vh;
    }    
    #playerDialogContainer{
        top: 5vh;
        max-width: 162px;        
        height: 90vh;
        width: 20vw;
    }    
}