@import './bank';
@import './store';
@import '../../node_modules/@thaerious/nidget/styles/nidget';
@import './playerDialogFragment';
@import './map';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.player-dialog-inner{
    position: relative;
    border: 1px solid green;
    background-color: rgba(255, 0, 0, 0.4);
    /*left: 10px;*/
    width: 20vh;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

.playerDialog{   
    position: relative;
    
    &[data-pid='1']{
        background-color: blue;
        /*top: 0%;*/
    }
    &[data-pid='2']{
        background-color: red;
        /*top: 25%;*/
    }
    &[data-pid='3']{
        background-color: green;
        /*top: 50%;*/
    }
    &[data-pid='4']{
        background-color: yellow;
        /*top: 75%;*/
    }
}