#mapBoundingBox{
    position: relative; 
    /*border: 1px solid black;*/  
}

body.landscape{
    #mapBoundingBox{
        width: calc(0.9066 * 90vh);
        height: 80vh;
    }
}

#mapAnchor{
    position: absolute;
    left: 50%;
    top: 50%;
    height: calc(104 / 900 * 100vh);
    width: calc(120 / 900 * 100vh);
    transform: translate(-50%, -50%);

    * {
        position: absolute;
        box-sizing: content-box;
    }

    .frontier-road{
        width: calc(57 / 104 * 100%);
        z-index: 10;
        transform: translate(-50%, -50%);
    }
    
    .frontier-village{
        width: calc(50 / 104 * 100%);
        z-index: 11;
        transform: translate(-50%, -50%);
    }    
    
    .frontier-city{
        width: calc(65 / 104 * 100%);
        z-index: 11;
        transform: translate(-50%, -50%);
    }    
    
    .frontier-circle-marker{
        display: none;
        height: calc(40 / 104 * 100%);
        width: calc(40 / 120 * 100%);  
        z-index: 10;
        transform: translate(-50%, -50%);
    }
    
    tile-element, port-tile-element, resource-tile-element{
        height: 100%;
        width: 100%;     

        .hex-image{
            height: 100%;
            width: 100%;  
            pointer-events: none;
        }
        .number-image, .resource-image{
            height: calc(40 / 104 * 100%);
            width: calc(40 / 120 * 100%);  
            left: 50%;
            top: 50%;   
            transform: translate(-50%, -50%);
            pointer-events: none;
        }
    }
}