#playerDialogContainer{
    box-sizing:content-box;
    position: absolute;
}

body.portrait{
    #playerDialogContainer{
        top: 0px;
        height: 20vh;
        border: 2px solid green;
        width: 95%;
        left: 2.5%;        
    }
    .outerPlayerDialog{
        position: absolute;
        box-sizing:content-box;
    }    
}

body.landscape{
    #playerDialogContainer{
        flex-direction: column;          
        left: 10px;
        top: 50%;
        transform: translate(0%, -50%);
        maxwidth: 162px;        
        height: 80vh;
        width: 20vh;
    }    
    .outerPlayerDialog{
        position: relative;
        box-sizing:content-box;
        height: 25%;
        width: 100%;    
    }    
}

